body {
  text-align: center;
  font-family: Helvetica;
}

.header {
  background-image: url("d:users/paul/cloudstation/projects/broadway/resources/images/the-flatiron-building.png");
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

.navigation-top {
  font-size: 18px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.background {
  background-image: url("d:users/paul/cloudstation/projects/broadway/resources/images/the-flatiron-building.png");
  color: white;
}
